/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.profile img{
    border-radius: 50%;
    border: 10px solid #2d6a4f;
    width: 200px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile-user-settings{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.profile-stats ul{
    display: flex;
    justify-content: space-evenly;
}

ul li{
    list-style-type: none;
}


