/* Base Styles */

:root {
    font-size: 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.profile img{
    border-radius: 50%;
    border: 10px solid #2d6a4f;
    width: 200px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile-user-settings{
    border: 10px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.profile-edit-btn{
    background: none;
    border-radius: 5px;
    padding: 3px 20px;
    
}

.profile-settings-btn{
    border: none;
    background: none;
}

.profile-user-name{
    font-weight: lighter;
}

.profile-stats ul{
    display: flex;
    justify-content: space-evenly;
}

ul li{
    list-style-type: none;
}
.profile-stat-count{
    font-weight: bold;
}

